<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Deflorence Catering Services</title>
    <link rel="stylesheet" href="/css/orderform.css">
</head>
<body id="top">
    <main>
        <div class="full-screen-form">
            <h2>Order Form</h2>
            <form>
                <div class="form-grid">
                    <div class="form-column">
                        <div class="form-row">
                            <label for="time-start">Time Start</label>
                            <select id="time-start" name="time-start">
                                <option value="">Select Time</option>
                                <!-- Times are represented in 30-minute intervals -->
                                <option value="08:00">08:00 AM</option>
                                <option value="08:30">08:30 AM</option>
                                <option value="09:00">09:00 AM</option>
                                <option value="09:30">09:30 AM</option>
                                <option value="10:00">10:00 AM</option>
                                <option value="10:30">10:30 AM</option>
                                <option value="11:00">11:00 AM</option>
                                <option value="11:30">11:30 AM</option>
                                <option value="12:00">12:00 PM</option>
                                <option value="12:30">12:30 PM</option>
                                <option value="13:00">01:00 PM</option>
                                <option value="13:30">01:30 PM</option>
                                <option value="14:00">02:00 PM</option>
                                <option value="14:30">02:30 PM</option>
                                <option value="15:00">03:00 PM</option>
                                <option value="15:30">03:30 PM</option>
                                <option value="16:00">04:00 PM</option>
                                <option value="16:30">04:30 PM</option>
                                <option value="17:00">05:00 PM</option>
                                <option value="17:30">05:30 PM</option>
                                <option value="18:00">06:00 PM</option>
                                <option value="18:30">06:30 PM</option>
                                <option value="19:00">07:00 PM</option>
                                <option value="19:30">07:30 PM</option>
                                <option value="20:00">08:00 PM</option>
                            </select>
                        </div>
                        <div class="form-row">
                            <label for="table-linen">Table Linen</label>
                            <input type="text" id="table-linen" name="table-linen">
                        </div>
                    </div>
                    <div class="form-column">
                        <div class="form-row">
                            <label for="time-end">Time End</label>
                            <select id="time-end" name="time-end">
                                <option value="">Select Time</option>
                                <!-- Times are represented in 30-minute intervals -->
                                <option value="08:00">08:00 AM</option>
                                <option value="08:30">08:30 AM</option>
                                <option value="09:00">09:00 AM</option>
                                <option value="09:30">09:30 AM</option>
                                <option value="10:00">10:00 AM</option>
                                <option value="10:30">10:30 AM</option>
                                <option value="11:00">11:00 AM</option>
                                <option value="11:30">11:30 AM</option>
                                <option value="12:00">12:00 PM</option>
                                <option value="12:30">12:30 PM</option>
                                <option value="13:00">01:00 PM</option>
                                <option value="13:30">01:30 PM</option>
                                <option value="14:00">02:00 PM</option>
                                <option value="14:30">02:30 PM</option>
                                <option value="15:00">03:00 PM</option>
                                <option value="15:30">03:30 PM</option>
                                <option value="16:00">04:00 PM</option>
                                <option value="16:30">04:30 PM</option>
                                <option value="17:00">05:00 PM</option>
                                <option value="17:30">05:30 PM</option>
                                <option value="18:00">06:00 PM</option>
                                <option value="18:30">06:30 PM</option>
                                <option value="19:00">07:00 PM</option>
                                <option value="19:30">07:30 PM</option>
                                <option value="20:00">08:00 PM</option>
                            </select>
                        </div>
                        <div class="form-row">
                            <label for="table-napkin">Table Napkin</label>
                            <input type="text" id="table-napkin" name="table-napkin">
                        </div>
                    </div>
                </div>
            </form>
               <!-- Columns for Welcome Food and Desserts -->
        <div class="food-columns">
            <div class="food-column">
                <h3>Welcome Food</h3>
                <div class="food-options">
                    <div class="food-row">
                        <input type="text" id="food1" name="food1" placeholder="Food 1">
                    </div>
                    <div class="food-row">
                        <input type="text" id="food2" name="food2" placeholder="Food 2">
                    </div>
                    <div class="food-row">
                        <input type="text" id="food3" name="food3" placeholder="Food 3">
                    </div>
                    <div class="food-row">
                        <input type="text" id="food4" name="food4" placeholder="Food 4">
                    </div>
                    <div class="food-row">
                        <input type="text" id="additional-food" name="additional-food" class="additional-input" placeholder="Additional Food">
                    </div>
                </div>
            </div>
            <div class="food-column">
                <h3>Desserts</h3>
                <div class="food-options">
                    <div class="food-row">
                        <input type="text" id="dessert1" name="dessert1" placeholder="Dessert 1">
                    </div>
                    <div class="food-row">
                        <input type="text" id="dessert2" name="dessert2" placeholder="Dessert 2">
                    </div>
                    <div class="food-row">
                        <input type="text" id="dessert3" name="dessert3" placeholder="Dessert 3">
                    </div>
                    <div class="food-row">
                        <input type="text" id="dessert4" name="dessert4" placeholder="Dessert 4">
                    </div>
                    <div class="food-row">
                        <input type="text" id="additional-dessert" name="additional-dessert" class="additional-input" placeholder="Additional Dessert">
                    </div>
                </div>
            </div>
        </div> <!-- End of Columns for Welcome Food and Desserts -->

<!-- New Section for Appetizers and Drinks -->
<div class="additional-section">
    <!-- Appetizers Column -->
    <div class="food-column">
        <h3>Appetizers</h3>
        <div class="food-options">
            <div class="food-row">
                <input type="text" id="appetizer1" name="appetizer1" placeholder="Appetizer 1">
            </div>
            <div class="food-row">
                <input type="text" id="appetizer2" name="appetizer2" placeholder="Appetizer 2">
            </div>
            <div class="food-row">
                <input type="text" id="appetizer3" name="appetizer3" placeholder="Appetizer 3">
            </div>
            <div class="food-row">
                <input type="text" id="appetizer4" name="appetizer4" placeholder="Appetizer 4">
            </div>
            <div class="food-row">
                <input type="text" id="additional-appetizer" name="additional-appetizer" class="additional-input" placeholder="Additional Appetizer">
            </div>
        </div>
    </div>
    <!-- Drinks Column -->
    <div class="food-column">
        <h3>Drinks</h3>
        <div class="food-options">
            <div class="food-row">
                <input type="text" id="drink1" name="drink1" placeholder="Drink 1">
            </div>
            <div class="food-row">
                <input type="text" id="drink2" name="drink2" placeholder="Drink 2">
            </div>
            <div class="food-row">
                <input type="text" id="drink3" name="drink3" placeholder="Drink 3">
            </div>
            <div class="food-row">
                <input type="text" id="drink4" name="drink4" placeholder="Drink 4">
            </div>
            <div class="food-row">
                <input type="text" id="additional-drink" name="additional-drink" class="additional-input" placeholder="Additional Drink">
            </div>
        </div>
    </div>
    </div> <!-- End of New Section for Appetizers and Drinks -->
<div class="other-info">
    <h3 class="info-title">Other Info</h3>
    <div class="info-options">
        <div class="info-row">
            <input type="text" id="number-of-pax" name="number-of-pax" placeholder="Number of Pax">
        </div>
        <div class="info-row">
            <input type="text" id="others" name="others" placeholder="Others">
        </div>
        <div class="info-row">
            <input type="text" id="less-down-payment" name="less-down-payment" placeholder="Less Down Payment">
        </div>
        <div class="info-row">
            <input type="text" id="balance" name="balance" placeholder="Balance">
        </div>
        <div class="info-row">
            <form action="/admin/edit-event/{{event._id}}" method="POST">
            <input type="hidden" name="eventId" value="{{event._id}}"><label for="venue" style="font-weight: bold;">Venue</label>
                <input type="text" id="venue" name="venue" value="{{event.venue}}" required><br><br>
                <button type="submit">Update</button>
            </form>
        </div>
    </div>
</div> <!-- End of Other Info Section -->

        </div>

    </main>

</body>
</html>
