<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wedding Package Flyer</title>
    <link rel="stylesheet" href="/css/packages_wedding.css">
</head>
<body>
    <div class="flyer-container">
        <div class="left-section">
            <div class="image-container">
                <img src="/images/wp_name.png" alt="Title" class="name-image">
                <img src="/images/wp.png" alt="Couple" class="main-image">
            </div>
        </div>
        <div class="right-section">
            <div class="column">
                <div class="content">
                    <h2>Host</h2>
                    <ul>
                        <li>1 Professional Host</li>
                    </ul>
                    <h2>Coordination</h2>
                    <ul>
                        <li>Professional coordinators to assist with event execution (Reception only)</li>
                        <li>2 scheduled meetings</li>
                    </ul>
                    <h2>Photography and Videography</h2>
                    <ul>
                        <li>2 Photographers and 2 Videographers</li>
                        <li>Raw and Edited High Resolution photos</li>
                        <li>Basic video coverage capturing key moments</li>
                        <li>All raw footage</li>
                        <li>20 pages wedding album</li>
                    </ul>
                    <h2>Cake</h2>
                    <ul>
                        <li>Three layered fondant cake (Base is edible)</li>
                    </ul>
                    <h2>Lights and Sounds</h2>
                    <ul>
                        <li>Upgraded lighting set-up</li>
                        <li>Standard sound system for clear audio during reception</li>
                    </ul>
                    <h2>Styling</h2>
                    <ul>
                        <li>Simple stage lay-out with backdrop</li>
                        <li>Basic table centerpieces (10 guest tables)</li>
                        <li>Floral arrangement for couple and cake table</li>
                        <li>VIP Table (maximum of 24 pax)</li>
                    </ul>
                    <h2>Catering</h2>
                    <ul>
                        <li>1 Soup, 1 Salad, 1 Beef or Pork, 1 Chicken, 1 Fish, 1 Vegetable, 1 Pasta, 1 Dessert, Unlimited Drinks</li>
                        <li>Plated Service for the VIP's</li>
                    </ul>
                </div>
            </div>
            <div class="column">
                <div class="content">
                   
                    <h2>FREEBIES</h2>
                    <ul>
                        <li>Customized Menu Cards and place cards for Principal Sponsors</li>
                        <li>100pax Photo Booth</li>
                        <li>100pax Mobile Bar</li>
                        <li>FREE 9x12 ft. LED Wall (First 10 bookers only)</li>
                        <li>FREE Coffee Bar for 50pax (First 10 bookers only)</li>
                    </ul>
                    <ul>
                        <li>Good for 100pax only</li>
                        <li>Additional 800/pax in excess of 100pax</li>
                        <li>Venue corkage fee is separate and not included</li>
                        <li>Tax EXCLUSIVE</li>
                    </ul>
                    <h2>PAYMENT DETAILS:</h2>
                    <ul>
                        <li>A non-refundable, non transferable, and non-convertible reservation fee of 10,000php is required to secure the date.</li>
                        <li>50% down payment is due during the scheduled meeting with suppliers.</li>
                        <li>The remaining balance must be paid in full 1 week before the event date.</li>
                    </ul>
                    <div class="price">
                        <p>275,000.00</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
