<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>De Florence Catering Services</title>
    <link rel="stylesheet" href="/css/catering_menu.css">
</head>
<body>

    <div class="container">
        <section class="stations">
            <img src="/images/stations_name.png" alt="Title" class="name-image">



            <h3>Welcome Food</h3>
            <ul>
                <li>
                    <strong>Grazing Station</strong>
                    <span>25,000PHP for 100PAX</span><br><br>
                </li>
                <li>
                    <strong>Filipino Street Food Station</strong>
                    <span>20,000PHP for 100PAX</span><br><br>
                </li>
            </ul>
            <h3>Stations</h3>
            <ul>
                <li>
                    <strong>Roast Beef Carving Station with Sides</strong>
                    <span>25,000PHP for every 100PAX</span><br><br>
                </li>
                <li>
                    <strong>Lechon Baka with 3 Sides</strong>
                    <span>25,000PHP for every 100PAX</span><br><br>
                </li>
                <li>
                    <strong>Spiced Lechon Pork Belly Carving</strong>
                    <span>18,000PHP for every 100PAX</span><br><br>
                </li>
                <li>
                    <strong>Parmesan Wheel Pasta Station</strong>
                    <span>20,000PHP for every 100PAX</span><br><br>
                </li>
                <li>
                    <strong>Oyster Bar Station</strong>
                    <span>Grilled & Fresh</span><br><br>
                </li>
            </ul>
        </section>
    </div>

</body>
</html>