<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All-In Package Flyer</title>
    <link rel="stylesheet" href="/css/packages_all-in.css">
</head>
<body>
    <div class="flyer-container">
        <div class="left-section">
            <div class="services">
                <div class="columns">
                    <ul class="left-column">
                        <div class="image-container">
                <img src="/images/all-in_name.png" alt="Title" class="name-image">
            </div>
            <br><br><br><br><br><br>
             <h1>OUR SERVICES :</h1><br>
                        <li>Weddings</li>
                        <li>Corporate Events</li>
                        <li>Business Events</li>
                        <li>Open House</li>
                        <li>Grand Openings</li>
                        <li>Celebrations</li>
                        <li>Baby Showers</li>
                        <li>Graduations</li>
                    </ul>
                    <ul class="right-column">
                        <div class="right-section">
                        <img src="/images/stations_bn.jpg" alt="Flyer Image" class="flyer-image">
                         </div>
                    </ul>
                </div>
            </div>
            <div class="free-offer">
                <h3>First 10 bookers will get</h3>
                <div class="free-items">
                    <p>FREE</p>
                    <ul>
                        <li>PHOTOBOOTH for 100pax</li>
                        <li>MOBILE BAR for 100pax</li>
                        <li>COFFEE BAR for 50pax</li>
                        <li>LEDWALL 9x12ft</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
